<!doctype html>
<html lang="en">

{{> head}}

{{> bootstrap}}

<body>
		
		<script src="/socket.io/socket.io.js"></script>

		<div id="piechart" align="center"></div>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

		<script type="text/javascript">
		// Load google charts
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		// Draw the chart and set the chart values
		function drawChart() {
		  var data = google.visualization.arrayToDataTable([
		  ['Inspections', 'Inspections performed'],
		  ['Completed', {{completed}}],
		  ['Not Completed', {{notCompleted}}]
		]);

		  // Optional; add a title and set the width and height of the chart
		  var options = {'title':'Inspections', 
		  				 'width':550, 
		  				 'height':400,
		  				 'colors':['#43ea1e', '#f91d1d']};

		  // Display the chart inside the <div> element with id="piechart"
		  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
		  chart.draw(data, options);
		}
		</script>

<!-- Page Title-->
<div class="container">
	<h1 align="center">Inspection Dashboard</h1>
</div>

<div style="margin: 20px;">
<table style="width: 100%;border: 1px solid black;">
	<tr>
		<th style="border: 1px solid black;text-align: center">ID</th>
		<th style="border: 1px solid black;text-align: center">Inspected?</th>
	</tr>
	{{#each cranes}}
	<tr>

		<td align="center" style="border: 1px solid black;">{{this.id}}</td>
		<td class={{this.id}} align="center" style="border: 1px solid black;">{{#if this.status}}&#9989;{{else}}&#10060;{{/if}}</td>
	</tr>
	{{/each}}

</table>
<div>

		<script>
			var socket = io();

			socket.on('connect', function () {
				console.log('connected to server');
			});

			socket.on('newInspection', function (inspection) {
				console.log('new Inspection Recieved!', inspection.id);

				var queryId = inspection.id;
				console.log(queryId);


			$(document).ready(function() {
				$("td." + queryId).replaceWith('<td align="center" style="border: 1px solid black;">&#9989;</td>')
				});
			});
		</script>

</body>
</html>