<!doctype html>
<html lang="en">

{{> head}}

{{> bootstrap}}

<body>

		<script src="/socket.io/socket.io.js"></script>

<!-- Page Title-->
<div class="container">
	<h1 align="center">Project Dashboard</h1>
	<p>{{projects.tasks}}</p>
</div>
	{{#each projects}}
<div style="margin: 20px;">
<table style="width: 100%;border: 1px solid black;">
	<tr>
		<th style="border: 1px solid black;text-align: center">Unit #</th>
		<th style="border: 1px solid black;text-align: center">Shop</th>
		<th style="border: 1px solid black;text-align: center">Task</th>
		<th style="border: 1px solid black;text-align: center">Prep</th>
		<th style="border: 1px solid black;text-align: center">Material</th>
		<th style="border: 1px solid black;text-align: center">Install</th>
	</tr>
	{{#each this.tasks}}
	<tr>

		<td align="center" style="border: 1px solid black;">{{../id}}</td>
		<td align="center" style="border: 1px solid black;">{{this.shop}}</td>
		<td align="center" style="border: 1px solid black;">{{this.name}}</td>
		<td class={{../id}}-{{this.name}}-prep align="center" style="border: 1px solid black;"><a href=https://atcosl.formstack.com/forms/production_task_complete?Unit={{../id}}&Task={{this.name}}&Task%20Step=prep&Status=In_Progress target="_blank">{{#if this.prep}}&#9989;{{else}}&#10060;{{/if}}</a></td>
		<td class={{../id}}-{{this.name}}-material align="center" style="border: 1px solid black;"><a href=https://atcosl.formstack.com/forms/production_task_complete?Unit={{../id}}&Task={{this.name}}&Task%20Step=material&Status=In_Progress target="_blank">{{#if this.material}}&#9989;{{else}}&#10060;{{/if}}</a></td>
		<td class={{../id}}-{{this.name}}-install align="center" style="border: 1px solid black;"><a href=https://atcosl.formstack.com/forms/production_task_complete?Unit={{../id}}&Task={{this.name}}&Task%20Step=install&Status=In_Progress target="_blank">{{#if this.install}}&#9989;{{else}}&#10060;{{/if}}</a></td>
	</tr>
	{{/each}}
	{{/each}}
<br>
</table>

<div>


		<script>

			console.log(projects);
			var socket = io();

			socket.on('newTask', function (task) {
				console.log('new Task Complete!', task);


				// $(document).ready(function() {
				// 	if (task.status) {
				// $("td." + task.id + "-" + task.task + "-" + task.taskStep).replaceWith('<td align="center" style="border: 1px solid black;">&#9989;</td>')
				// 	} else {
				// 		$("td." + task.id + "-" + task.task + "-" + task.taskStep).replaceWith('<td align="center" style="border: 1px solid black;">&#10024;</td>')
				// 	}

					$(document).ready(function() {
					if (task.status) {
					$("td." + task.id + "-" + task.task + "-" + task.taskStep).replaceWith('<td class=' + task.id + '-' + task.task + '-' + task.taskStep + ' align="center" style="border: 1px solid black;"><a href=https://atcosl.formstack.com/forms/production_task_complete?Unit=' + task.id + '&Task=' + task.task + '&Task%20Step=' + task.taskStep + ' target="_blank">&#9989;</a></td>')
					} else {
						$("td." + task.id + "-" + task.task + "-" + task.taskStep).replaceWith('<td class=' + task.id + '-' + task.task + '-' + task.taskStep + ' align="center" style="border: 1px solid black;"><a href=https://atcosl.formstack.com/forms/production_task_complete?Unit=' + task.id + '&Task=' + task.task + '&Task%20Step=' + task.taskStep + '&Status=Complete target="_blank">&#10024;</a></td>')
					}
				});

				});


		</script>

</body>
</html>
